h1 {
  color: chocolate;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
p {
  color: blue;
  text-align: center;
}
summary {
  color: crimson;
  text-align: center;
}
strong {
  color: red;
}
em {
  color: darkgreen;
}
u {
  color: yellow;
}
label {
  color: indigo;
}
